<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mititna">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
        tools:targetApi="31">

        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/NoActionBar"
        android:name=".ui.games.HomePuzzles"
        android:exported="false"
        android:label="@string/title_homepuzzles">
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/NoActionBar"
            android:name=".ui.games.MainMemory"
            android:exported="false"
            android:label="@string/title_main_puz">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".volconfiguration"
            android:exported="false"
            android:label="@string/title_activity_volconfiguration"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".ui.fragments.AboutAct"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".Module5"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".Module4"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".Module3"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".Module2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".Module_1"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".ui.fragments.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>